body {
    margin: 0;
    font-family: "Fira Code", monospace;
}

#app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
    gap: 10px;
}
